
* {
    box-sizing: border-box;
    text-align: center;
  }


  body {
    background-image: url("../images/bananas.png");
 }
  
/**** Review some of this margin right and margin left stuff and see if you even need it ****/
 #NamePlate h1{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: white;
    float: left;
    margin-left: 0;
    width: 160px;
    height: 100px;
    background-color: teal;
    position: absolute;
    left: 10%;
}

p {
    background-color: white;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.classItem {
    background-color: orange;
}

#idItem {
    background-color: green;
    color: white;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

#topbar {
    background-color: white;
}

header {
    float: left;
    padding: 20px;
    width: 960px;
    color: white;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

.page {
    width: 100%;
    height: 120px;
    background-color: white;
    position: relative;
}

div.relative {
    position: relative;
    left: 5px;
    
}

/** ABOUT ME **/

#AboutMeBox {
    padding: 0px;
    background-color:white;
    margin: 0 auto;
    width: 960px;
}

/*********** NAVIGATION ***************/

ul li {
    float: right;
    padding: 15px;
    font-family: Arial;
    font-weight: lighter;
    position: relative;
    right: 30px;
}


#FooterLine { 
    
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    border-style: inset;
    border-width: 0px;
    border-color: #4aaaa5;
    overflow: hidden;
    background-color: transparent;
} 

#footer {
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    height: 60px;
    border-top: 10px: solid #4aaaa5;
}


.hline {
    width:100%; height:1px; background: #fff
}

