
* {
    box-sizing: border-box;
    text-align: center;
  }

h1{
    font-family: Georgia, Times, 'Times New Roman', serif;
}

p {
    background-color: white;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}



.classItem {
    background-color: orange;
}

#idItem {
    background-color: green;
    color: white;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

header {
    float: left;
    padding: 20px;
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

#NamePlate {
    float: left;
    padding: 15px;
    margin-left: 160px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 20px;
    border-bottom: 0px;
}

#AboutMeBox {
    float: left;
    padding: 20px;
    margin-left: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    background-color: tan;
}

.floatLeft {
    float: left;
}

#AboutPage {
    float: right;
    padding: 15px;
    font-family: Arial;
}

#PortfolioPage {
    float: right;
    padding: 15px;
    font-family: Arial;
    font-weight: lighter;
}

#ContactPage {
    float: right;
    padding: 15px;
    font-family: Arial;
}

#FooterLine { 
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    border-style: inset;
    border-width: 5px;
    border-color: #4aaaa5;
    overflow: hidden;
    background-color: transparent;
} 

footer {
    padding: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: 0px;
    background-color: #666666;
    color: #777777;
}

